div.grid-meteo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

div.grid-meteo div.icon-box,
div.grid-meteo div.grid-indic-meteo,
div.indic-meteo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.grid-temp-indic{
    display: grid;
    grid-template-columns: repeat(2,min-content);
    column-gap: 3px;
}

span.temp-max,
span.temp-min{
    font-family: var(--montserrat);
    font-size: 13.5px;
    font-weight: 500;
}

span.temp-max{
    color: var(--color-temp-max);
}

span.temp-min{
    color: var(--color-temp-min);
}

img.image-meteo{
    width: 75px;
    height: 75px;
}

div.indic-meteo,
div.visibilite{
    font-size: 1.8rem;
    font-family: var(--montserrat);
}

div.visibilite,
div.phase_lune{
    font-family: var(--montserrat);
}

div.visibilite{
    font-size: 1.5rem;
}

div.phase_lune{
    font-size: 1.2rem;
}