header{
    width: var(--full-width);
    height: var(--height-header);
    /* background-color: red; */
    display: inline-block;
    position: relative;
}

div.box-meteo,
div.box-moon{
    height: var(--height-100);
    width: var(--width-box-header);
    /* background-color: var(--background-indic); */
    border-radius: 15px;
    position: absolute;
    z-index: 2;
}

div.box-moon{
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    position: relative;
}

.swiper-pagination{
    bottom: 0!important;
}

.swiper-pagination-bullet{
    background-color: var(--color-white);
}