// Import de polices d'écritures de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Création de varibles de styles
:root{
    --full-width: 100%;
    --full-height: 100vh;
    --height-header: 90px;
    --height-100: 100%;
    --width-box-header: 23vw;
    --back-color-jour: rgb(49, 172, 255);
    --montserrat: 'Montserrat', sans-serif;
    --color-white: white;
    --color-temp-max: #E94646; 
    --color-temp-min: #6296D5;
    --background-indic: #f2f2f2c4;
    --background-indic-night: #6b6b6bc9;
}

body{
    padding: 0;
    margin: 0;
    width: var(--full-width);
    height: var(--full-height);
    background-color: var(--back-color-jour);
}

//Thème clair et sombre pour le projet
@media (prefers-color-scheme: light){

}

@media (prefers-color-scheme: dark){

}

//Import de fichiers styles des composants
@import url(Meteo.css);
@import url(Indicateur.css);
@import url(Proverbes.css);
@import url(TitreSaison.css);