// Import de polices d'écritures de Google Fonts
// @import url();

//Création de varibles de styles
:root{
    --full-width: 100%;
    --full-height: 100vh;
    --back-color-jour: rgb(49, 172, 255);
}

body{
    padding: 0;
    margin: 0;
    width: var(--full-width);
    height: var(--full-height);
    background-color: var(--back-color-jour);
}

//Thème clair et sombre pour le projet
@media (prefers-color-scheme: light){

}

@media (prefers-color-scheme: dark){

}

//Import de fichiers styles des composants
// @import url();